body{
	margin: 0;
	padding:0;
	font-size: 100%;
	min-width: 500px;
	background-color: #354649 ;
}

footer{
	border: 2px solid white;
	border-top: 0px;
	color: #fff;
	text-align: center;
	font-variant: small-caps;
	margin: 2px ;
	padding: 2px;
	background-color: #6C7A89;
}
hr{
	margin: 10px auto;
	
	width: 70%;
}
tr:nth-child(even){
	color: #E0E7E9;
	background-color: #A3C6C4;
}
footer p a{
	background-color: #E0E7E9;
}
table{
	margin-top: 1%;
}